.painel__grupo {
  position: relative;
  top: 80px; }

.bar-opcoes {
  display: flex;
  justify-content: flex-end;
  background: #bbb;
  position: fixed;
  width: 100%;
  top: 50px; }
  .bar-opcoes label {
    color: #3d3c3c;
    font-size: 1.3em;
    margin-right: 5px; }
    .bar-opcoes label input {
      display: none; }
  .bar-opcoes .exibir__lista::after {
    content: '\2680'; }
  .bar-opcoes .exibir__icones::after {
    content: '\2683'; }

#exibir__lista:checked ~ .painel {
  display: block !important; }

#exibir__icones:checked ~ .painel {
  display: flex; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  font-family: 'Arial';
  text-decoration: none; }

li {
  display: block; }

img {
  display: flex;
  max-width: 100px;
  width: 100%;
  transition: all .4s ease; }

/* SLIDE THREE */
input[type=checkbox] {
  display: none; }

.slideThree {
  margin: 5px;
  width: 40px;
  height: 20px;
  background: #333;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  position: relative;
  -webkit-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.5), 0px 1px 0px rgba(255, 255, 255, 0.2);
  -moz-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.5), 0px 1px 0px rgba(255, 255, 255, 0.2);
  box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.5), 0px 1px 0px rgba(255, 255, 255, 0.2); }

.slideThree:after {
  font: 12px/26px Arial, sans-serif;
  color: #000;
  position: absolute;
  right: 10px;
  z-index: 0;
  font-weight: bold;
  text-shadow: 1px 1px 0px rgba(255, 255, 255, 0.15); }

.slideThree:before {
  content: 'visual: \2683';
  font: 15px/20px Arial, sans-serif;
  color: #353c35;
  position: absolute;
  left: -70px;
  line-height: 1.4em;
  z-index: 0;
  font-weight: bold; }

.slideThree label {
  display: block;
  width: 15px;
  height: 15px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  transition: all .4s ease;
  cursor: pointer;
  position: absolute;
  top: 3px;
  left: 3px;
  z-index: 1;
  -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.3);
  background: #fcfff4;
  background: -webkit-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
  background: -moz-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
  background: -o-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
  background: -ms-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
  background: linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfff4', endColorstr='#b3bead',GradientType=0 ); }

#slideThree:checked ~ .navbar .slideThree .e {
  left: 20px; }

#slideThree:checked ~ .painel__grupo .painel {
  display: block; }

#slideThree:checked ~ .navbar .slideThree:before {
  content: 'visual: \2680'; }

#slideThree:checked ~ .painel__grupo img {
  max-width: 500px; }
