* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  font-family: 'Arial'; }

li {
  display: block; }

img {
  display: flex;
  max-width: 100px;
  width: 100%;
  height: 100%; }

.painel {
  display: flex;
  justify-content: center;
  margin: 15px;
  margin-bottom: 15px; }
  .painel__item--item1, .painel__item--item2, .painel__item--item3 {
    margin: 10px; }
    .painel__item--item1 img, .painel__item--item2 img, .painel__item--item3 img {
      max-width: 300px; }
