@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  font-family: 'Arial'; }

li {
  display: block; }

img {
  display: flex;
  max-width: 100px;
  width: 100%; }

.navbar {
  display: flex;
  height: 50px;
  align-items: center;
  background: #356e4f;
  padding: 5px; }
  .navbar__titulo {
    color: #f5eeee;
    font-size: 1.6em;
    white-space: nowrap; }
    .navbar__titulo::after {
      content: "Leilão do Boi"; }
  .navbar .img__logo {
    max-width: 120px; }
  .navbar ul {
    display: flex;
    justify-content: center;
    width: 100%;
    border-color: red; }

.painel {
  display: flex;
  justify-content: center; }
  .painel__item--item1, .painel__item--item2, .painel__item--item3 {
    padding: 5px;
    border-radius: 3px; }
    .painel__item--item1 img, .painel__item--item2 img, .painel__item--item3 img {
      max-width: 300px;
      min-width: 86px;
      min-height: 60px;
      border-radius: 3px; }
    .painel__item--item1 label, .painel__item--item2 label, .painel__item--item3 label {
      display: flex;
      justify-content: center;
      font-size: 0.8em;
      margin-left: 5px;
      margin-right: 5px;
      white-space: nowrap; }
  .painel .item1__descricao {
    padding: 5px; }
  .painel .item1__descricao--nome {
    font-weight: bold;
    color: #424242; }
    .painel .item1__descricao--nome::after {
      content: "Zebu Preto"; }
  .painel .item1__descricao--preco::after {
    content: "R$2.000,00"; }
  .painel .item1__descricao--detalhe {
    font-size: 0.6em;
    color: mediumblue; }
    .painel .item1__descricao--detalhe::after {
      content: "ver detalhes"; }
  .painel .item2__descricao {
    padding: 5px; }
  .painel .item2__descricao--nome {
    font-weight: bold;
    color: #424242; }
    .painel .item2__descricao--nome::after {
      content: "Boi Forte"; }
  .painel .item2__descricao--preco::after {
    content: "R$10.000,00"; }
  .painel .item2__descricao--detalhe {
    font-size: 0.6em;
    color: mediumblue; }
    .painel .item2__descricao--detalhe::after {
      content: "ver detalhes"; }
  .painel .item3__descricao {
    padding: 5px; }
  .painel .item3__descricao--nome {
    font-weight: bold;
    color: #424242; }
    .painel .item3__descricao--nome::after {
      content: "Nelore"; }
  .painel .item3__descricao--preco::after {
    content: "R$12.000,00"; }
  .painel .item3__descricao--detalhe {
    font-size: 0.6em;
    color: mediumblue; }
    .painel .item3__descricao--detalhe::after {
      content: "ver detalhes"; }
