* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  border: solid 1px #ccc;
  font-family: 'Arial'; }

li {
  display: block; }

img {
  display: flex;
  max-width: 100px;
  width: 100%;
  height: 100%; }

section {
  display: flex;
  justify-content: center;
  margin: 15px;
  margin-bottom: 15px; }
  section div {
    margin: 10px; }
    section div img {
      max-width: 300px; }

.navbar {
  display: flex;
  height: 50px;
  align-items: center;
  background: #356e4f;
  padding: 5px; }
  .navbar__titulo {
    color: #f5eeee;
    font-size: 1.6em;
    white-space: nowrap; }
    .navbar__titulo::before {
      content: "teste"; }
  .navbar .img__logo {
    max-width: 120px; }
  .navbar ul {
    display: flex;
    justify-content: center;
    width: 100%;
    border-color: red; }
    .navbar ul li {
      margin-left: 15px; }
