<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!--build:css css/styles.min.css-->
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="css/pre-styles.css">
    <!--endbuild-->
    <title>Document</title>
</head>
<body>
    <div class="container">
        <nav class="navbar">
            <img class="img__logo" src="img/logo.png" >
            <ul>
                <li><h1 class="navbar__titulo"><!-- Titulo --></h1></li>
            </ul>
        </nav>
        <section class="painel">
            <div class="painel__item--item1">
                <img src="img/boi1.png"><!--imagem-->
                <label class="--item1__nome"><!--nome--></label>
                <label class="--item1__preco"><!--preco--></label>
            </div>
            <div class="painel__item--item2">
                <img src="img/boi2.png"><!--imagem-->
                <label class="--item2__nome"><!--nome--></label>
                <label class="--item2__preco"><!--preco--></label>
            </div>
            <div class="painel__item--item3">
                <img src="img/boi3.png"><!--imagem-->
                <label class="--item3__nome"><!--nome--></label>
                <label class="--item3__preco"><!--preco--></label>
            </div>
        </section>
    </div>
</body>
</html>