<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!--build:css css/styles.min.css-->
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="css/pre-styles.css">
    <!--endbuild-->
    <title>Document</title>
</head>

<body>
    <div class="container">
        <!-- navbar -->
        <nav class="navbar">
            <img class="img__logo" src="img/logo.png">
            <ul>
                <li>
                    <h1 class="navbar__titulo">
                        <!-- Titulo -->
                    </h1>
                </li>
            </ul>
        </nav>
        <!-- painel grupo -->
        <section class="painel__grupo">
            <div class="bar-opcoes">
                <a class="lista" href="#"></a>
                <a clas="expandido" href="#">expandido</a>
            </div>
            <!-- painel -->
            <section class="painel">
                <!-- item1 -->
                <div class="painel__item1">
                    <div class="descricao">
                        <img src="img/boi1.png">
                        <label class="descricao__nome">
                            <!--nome-->
                        </label>
                        <label class="descricao__preco">
                            <!--preco-->
                        </label>
                        <label class="descricao__detalhe">
                            <!--detalhe-->
                        </label>
                    </div>
                </div>
                <!-- item2 -->
                <div class="painel__item2">
                    <div class="descricao">
                        <img src="img/boi2.png">
                        <label class="descricao__nome">
                            <!--nome-->
                        </label>
                        <label class="descricao__preco">
                            <!--preco-->
                        </label>
                        <label class="descricao__detalhe">
                            <!--detalhe-->
                        </label>
                    </div>
                </div>
                <!-- item3 -->
                <div class="painel__item3">
                    <div class="descricao">
                        <img src="img/boi3.png">
                        <label class="descricao__nome">
                            <!--nome-->
                        </label>
                        <label class="descricao__preco">
                            <!--preco-->
                        </label>
                        <label class="descricao__detalhe">
                            <!--detalhe-->
                        </label>
                    </div>
                </div>
            </section>
            <!-- painel -->
            <section class="painel">
                <!-- item1 -->
                <div class="painel__item1">
                    <div class="descricao">
                        <img src="img/boi1.png">
                        <label class="descricao__nome">
                            <!--nome-->
                        </label>
                        <label class="descricao__preco">
                            <!--preco-->
                        </label>
                        <label class="descricao__detalhe">
                            <!--detalhe-->
                        </label>
                    </div>
                </div>
                <!-- item2 -->
                <div class="painel__item2">
                    <div class="descricao">
                        <img src="img/boi2.png">
                        <label class="descricao__nome">
                            <!--nome-->
                        </label>
                        <label class="descricao__preco">
                            <!--preco-->
                        </label>
                        <label class="descricao__detalhe">
                            <!--detalhe-->
                        </label>
                    </div>
                </div>
                <!-- item3 -->
                <div class="painel__item3">
                    <div class="descricao">
                        <img src="img/boi3.png">
                        <label class="descricao__nome">
                            <!--nome-->
                        </label>
                        <label class="descricao__preco">
                            <!--preco-->
                        </label>
                        <label class="descricao__detalhe">
                            <!--detalhe-->
                        </label>
                    </div>
                </div>
            </section>
            <!-- painel -->
            <section class="painel">
                <!-- item1 -->
                <div class="painel__item1">
                    <div class="descricao">
                        <img src="img/boi1.png">
                        <label class="descricao__nome">
                            <!--nome-->
                        </label>
                        <label class="descricao__preco">
                            <!--preco-->
                        </label>
                        <label class="descricao__detalhe">
                            <!--detalhe-->
                        </label>
                    </div>
                </div>
                <!-- item2 -->
                <div class="painel__item2">
                    <div class="descricao">
                        <img src="img/boi2.png">
                        <label class="descricao__nome">
                            <!--nome-->
                        </label>
                        <label class="descricao__preco">
                            <!--preco-->
                        </label>
                        <label class="descricao__detalhe">
                            <!--detalhe-->
                        </label>
                    </div>
                </div>
                <!-- item3 -->
                <div class="painel__item3">
                    <div class="descricao">
                        <img src="img/boi3.png">
                        <label class="descricao__nome">
                            <!--nome-->
                        </label>
                        <label class="descricao__preco">
                            <!--preco-->
                        </label>
                        <label class="descricao__detalhe">
                            <!--detalhe-->
                        </label>
                    </div>
                </div>
            </section>
        </section>
    </div>
</body>

</html>