<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!--build:css css/styles.min.css-->
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="css/pre-styles.css">
    <!--endbuild-->
    <script type="text/javascript">

        window.onload = function() {

            renderConteudo(
                '.navbar__titulo',
                'Leilão do Boi'
            );

            var itens = [
                {
                    nome:'Zebu Preto',
                    preco:'R$5.000,00',
                    img: 'img/boi1.png'
                },
                {
                    nome: 'Boi Forte',
                    preco: 'R$15.000,00',
                    img: 'img/boi2.png'
                },
                {
                    nome: 'Nelore',
                    preco: 'R$12.000,00',
                    img: 'img/boi3.png'
                }
            ];

            var modelo = new Modelo('.painel'); 
            modelo.adicionarModeloAoDocumento('.painel__grupo');          
            
            itens.forEach(function(item,i){
                
                i+=1;
                
                //modelo.adicionarAoModelo('.painel',modelo.getLayout(),'.painel__item');
                modelo.setClasse('.painel__item','painel__item'+i);
                modelo.setAtributo('.painel__item'+[i]+' img','src',item.img);
                modelo.setConteudo('.painel__item'+[i]+' .descricao__nome',
                    item.nome
                );
                modelo.setConteudo('.painel__item'+[i]+' .descricao__preco',
                    item.preco
                );
                modelo.setConteudo(
                    '.painel__item'+[i]+' .descricao__detalhe',
                    'ver detalhes'
                ); 
                modelo.adicionarModeloAoDocumento('.painel');
                modelo.novoModelo();
            });

            //modelo.adicionarModeloAoDocumento('.painel__grupo');
        }

        function renderConteudo(classe,conteudo) {
            document.querySelector(classe).innerHTML = conteudo;
        }

        function renderConteudos(classe,conteudo) {
            var e = document.querySelectorAll(classe);
            e.forEach(function(element,index) {
                element.innerHTML = conteudo;
            }, this);
        }

        function Modelo(classe) {
            
                // instancia variavel modelo como objeto html
                var modelo = document.createElement('html');
                var estagio = document.createElement('html');
                var front = document.createElement('html');
            
                // cria um novo modelo
                this.novoModelo = novoModelo;
                
                // criar um novo estagio
                this.novoEstagio = novoEstagio;

                // adicionar ao front
                this.adicionarAoFront = adicionarAoFront;

                // setar estrutura html que sera o modelo
                this.setModelo = setModelo;
            
                // retorna estrutura html modelo
                this.getModelo = getModelo;
            
                // alterar o nome da classe de um elemento do modelo 
                this.setClasse = setClasse;

                // alterar atributo do elmento
                this.setAtributo = setAtributo;

                // adicionar conteudo ao modelo
                this.setConteudo = setConteudo;
            
                // adicionar elemento ao front
                this.adicionarAoFront = adicionarAoFront;
            
                // adicionar o front ao documento
                this.adicionarFrontAoDocumento = adicionarFrontAoDocumento;
            

                novoModelo = function() {
                    modelo = document.createElement('html');
                }

                novoEstagio = function() {
                    estagio = modelo.cloneNode(true);
                }

                setModelo = function(classe) {
                    modelo = extrairElemento(classe);
                }

                getModelo = function() {
                    return modelo.cloneNode(true);
                }

                setClasse = function (classeDest,classe) {
                    if(('.'+estagio.className)==classeDest) {
                        estagio.setAttribute('class',classe);
                    }
                    else {
                        estagio.querySelector(classeDest).setAttribute('class', classe);
                    }
                }

                setAtributo = function(classe,atributo,valor) {
                    estagio.querySelector(classe).setAttribute(atributo,valor);
                }

                setConteudo = function(classe,conteudo){
                    if(('.'+estagio.className)==classe) {
                        estagio.innerHTML = conteudo;
                    }
                    else {
                        estagio.querySelector(classe).innerHTML = conteudo;
                    }
                }

                adicionarAoFront = function (classeDestino, elemento, classeElemento) {
                    if (('.' + elemento.className) == classeDestino) {
                        front.append(elemento.cloneNode(true));
                    } else {
                        front.append(elemento.querySelector(classeElemento).cloneNode(true));
                    }
                }
            
                adicionarFrontAoDocumento = function (classe) {
                    document.querySelector(classe).append(front);
                }
            
                removerDoDocumento = function (classe) {
                    document.querySelector(classe).remove();
                }
            
                copiarElemento = function (classe) {
                    return document.querySelector(classe).cloneNode(true);
                }

                extrairElemento = function (classe) {
                    var elemento = document.createElement('html');
                    elemento.append(document.querySelector(classe));
                    return elemento;
                }

                if(classe!=null)
                    this.setModelo(classe);
            }

            



    </script>
    <title>Document</title>
</head>

<body>
    <div class="container">
        <input id="slideThree" type="checkbox">
        <!-- navbar -->
        <nav class="navbar">
            <img class="img__logo" src="img/logo.png">
            <ul>
                <li>
                    <h1 class="navbar__titulo">
                         <!-- Titulo -->
                    </h1>
                </li>
            </ul>
            <div class="bar-opcoes">
                <div class="slideThree">
                    <label class="e" for="slideThree"></label>
                </div>
            </div>
        </nav>
        <!-- painel grupo -->
        <section class="painel__grupo">
            <section class="painel">
                <!-- item1 -->
                <div class="painel__item">
                    <div class="descricao">
                        <img src="img/boi1.png">
                        <label class="descricao__nome">
                            <!--nome-->
                        </label>
                        <label class="descricao__preco">
                            <!--preco-->
                        </label>
                        <label class="descricao__detalhe">
                            <!--detalhe-->
                        </label>
                    </div>
                </div>
            </section>
    </div>
</body>

</html>